---

---

<div class="wrap_header">
  <!-- グローバルヘッダここから -->

  <link href="https://store.world.co.jp/res/p/common/css/hdr/style.css?ver=20240125" rel="stylesheet" type="text/css" />
  <script src="https://store.world.co.jp/res/p/common/js/hdr/script.js?ver=20240404" type="text/javascript"></script>
  <script src="https://store.world.co.jp/res/s/navigation/js/navigation.js?ver=20240123" type="text/javascript"></script>
  <script src="https://store.world.co.jp/res/p/common/js/hdr/search-toggle.js?20240123" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap" rel="stylesheet" />
  <div id="univhd" class="hdr_wrap">
    <div class="hdr_inr">
      <div class="hdr_inr_top">
        <div class="hdr_menu_layer is-show"></div>
        <div class="hdr_menu_wrap">
          <div class="hdr_menu_btn_wrap">
            <p class="hdr_menu_btn" data-load="menu">
              <span></span>
              <span></span>
              <span></span>
            </p>
          </div>
          <p class="hdr_logo is-mini"><a href="https://store.world.co.jp/">ファッション通販 WORLD ONLINE STORE ワールド オンライン ストア</a></p>
          <div class="hdr_keyword_wrap is-mini">
            <div class="hdr_keyword">
              <form method="get" action="/search" class="search-history-form">
                <input class="hdr_keyword_input" type="text" name="fr" value="" autocomplete="off" placeholder="ワールドオンラインストアで何をお探しですか？" id="search-history" />
                <button class="hdr_keyword_btn" type="submit" id="search-history-btn"></button>
                <input type="hidden" name="st" value="1" />
                <input type="hidden" name="link_id" value="wos_UH_sheachbox" />
              </form>
            </div>
          </div>

          <div class="hdr_trend_wrap is-mini">
            <div class="hdr_history">
              <p class="hdr_history_label">入力履歴</p>
              <ul class="hdr_history_list search-history-list">
                <li id="srchHis0">hiroko<span></span></li>
              </ul>
            </div>
            <div class="hdr_trend">
              <p class="hdr_trend_label">TREND KEYWORD</p>
              <ul class="hdr_trend_list">
                <li>
                  <a href="https://store.world.co.jp/search?it=WC&so=PROF&st=1&sst1=1,2&link_id=wos_M_spmenu_keyword1_2418">#ワンピース</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WB07&st=1&sst1=1,2&so=PROF&link_id=wos_M_spmenu_keyword2_2418">#シャツ・ブラウス</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WB02,WB03&st=1&sst1=2&un=fku&so=PROF&link_id=wos_M_spmenu_keyword3_2418">#Tシャツ・カットソー</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WB,WE,WD&ta=DC02&st=1&sst1=1,2&link_id=wos_M_spmenu_keyword4_2418">#セットアップ</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WB06,XB06&un=fku&st=1&sst1=1,2&link_id=wos_M_spmenu_keyword5_2418">#カーディガン</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WE&ta=AG03,AG04,AG10,AG12&sst1=1,2&st=1&so=PROF&link_id=wos_M_spmenu_keyword6_2418">#イージーパンツ</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WD04&ta=AH03,AH04,AH05,AH07,AH08&st=1&un=fku&sst1=1,2&link_id=wos_M_spmenu_keyword7_2418">#フレアスカート</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WB16&st=1&so=PROF&link_id=wos_M_spmenu_keyword8_2418">#ジレ・ベスト</a>
                </li>

                <li>
                  <a href="https://store.world.co.jp/search?it=WJ05&st=1&so=PROF&link_id=wos_M_spmenu_keyword9_2418">#サンダル</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="hdr_scroll_overlay"></div>

          <div class="hdr_navi_wrap">
            <ul class="hdr_navi">
              <li class="hdr_navi_list hdr_navi-search">
                <a href="" class="hdr_navi-search_btn" data-load="search">
                  <span class="hdr_navi_list_name">探す</span>
                </a>
              </li>
              <li class="hdr_navi_list hdr_navi-favorite">
                <a href="https://store.world.co.jp/member/favorite-item?link_id=wos_UH_favorite">
                  <span class="hdr_navi_list_name">お気に入り</span>
                </a>
              </li>

              <li class="hdr_navi_list hdr_navi-notice">
                <a href="https://store.world.co.jp/notice/?link_id=wos_UH_select" class="bt_bell">
                  <span class="hdr_navi_list_num">
                    <!--<m:include m:path="/PC/select/bell_num.inc" />-->
                  </span>
                  <span class="hdr_navi_list_name">お知らせ</span>
                </a>

                <!--<div id="fukidashi_notice" style="display: inline-block;">お客様のお気に入りアイテムが<br>タイムセール価格になりました</div>-->
              </li>

              <li class="hdr_navi_list hdr_navi-coupon">
                <a href="https://store.world.co.jp/campaign/?link_id=wos_UH_campaign">
                  <span class="hdr_navi_list_num">
                    <!--<m:include m:path="/PC/campaign/cam_num.inc" />-->
                  </span>
                  <span class="hdr_navi_list_name">クーポン<br />キャンペーン</span>
                </a>
              </li>

              <!--<li class="hdr_navi_list hdr_navi-try-on">
                <a href="https://store.world.co.jp/order/store-try-on-cart">
                  <span class="hdr_navi_list_num"></span>
                  <span class="hdr_navi_list_name">店舗試着</span>
                </a>
              </li>-->

              <li class="hdr_navi_list hdr_navi-cart">
                <a href="https://store.world.co.jp/order/cart?op=displayCart&&bUrl=&link_id=wos_UH_cart">
                  <span class="hdr_navi_list_num">0</span>
                  <span class="hdr_navi_list_name">カート</span>
                </a>
              </li>

              <li class="hdr_navi_list hdr_navi-login">
                <a href="https://store.world.co.jp/member/?link_id=wos_UH_MENU_mypage">
                  <span class="hdr_navi_list_name">マイページ</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="hdr_button_wrap">
            <ul class="hdr_button">
              <li class="hdr_button_list hdr_button-brand">
                <a href="" class="hdr_button-brand_btn" data-load="button-brand">
                  <span class="hdr_button_list_name">ブランド</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hdr_inr_btm" style="display:none;">
    <div class="hdr_sub-navi_wrap">
      <ul class="hdr_sub-navi">
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/s/ladies/?link_id=wos_H_ladies">WOMEN</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/s/men/?link_id=wos_H_men">MEN</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/s/kids/?link_id=wos_H_kids">KIDS</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/s/lifestyle/?link_id=wos_H_lifegoods">LIFE GOODS</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/floor/outlet/?link_id=wos_H_sale" style="color:#ff0000">SALE</a></li>
      </ul>
      <ul class="hdr_sub-navi">
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/brand/?link_id=wos_H_A_brand_">ブランド</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/category/?link_id=wos_H_A_cate">カテゴリー</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/snap-search.html?link_id=wos_H_A_stylesnap">コーディネート</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/search?sst1=2,3&st=1&so=NEW&link_id=wos_H_A_newarrival">新着アイテム</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/s/item-ranking/?link_id=wos_H_A_ranking">ランキング</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/s/journal/?link_id=wos_H_journal">特集一覧</a></li>
        <li class="hdr_sub-navi_list"><a href="https://store.world.co.jp/s/world-magazine/?link_id=wos_M_world-magazine">WORLD MAGAZINE</a></li>
      </ul>
    </div>
  </div>
  <div class="hdr_load_wrap hdr_load_menu_wrap">
    <p class="hdr_load_label">MENU</p>
    <div class="hdr_close_btn_wrap">
      <p class="hdr_close_btn">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </div>
    <div id="hdr_load_menu" class="hdr_load_menu">
      <div id="load">
        <div id="navigation">
          <div class="nav-menu nav-slide" style="height: 750px;">
            <div class="nav-menu__inner">
              <a href="https://store.world.co.jp/?link_id=wos_UH_MENU_logo" class="nav-menu__logo">
                <img src="https://store.world.co.jp/res/p/common/img/head/wos_hd_logo.svg" alt="WORLD ONLINE STORE" />
              </a>

              <div class="nav-menu__block">
                <p class="nav-menu__tag">マイページ・ログイン<span></span></p>

                <ul class="nav-menu__list">
                  <li class="nav-menu__item">
                    <span class="nav-menu__user-name_open">
                      sample 様
                      <br />
                      <span>ご利用可能ポイントは&nbsp;<b>0pt</b>です</span><br />
                      <span style="font-size:13px">月末失効予定ポイントは&nbsp;<b>0pt</b>です</span>
                    </span>
                    <ul class="nav-menu__list">
                      <li class="nav-menu__item">
                        <a href="https://store.world.co.jp/member/?link_id=wos_UH_MENU_mypage">マイページ</a>
                      </li>
                      <li class="nav-menu__item">
                        <a href="https://store.world.co.jp/auth?logout&link_id=wos_UH_MENU_logout&next=https%3A%2F%2Fstore.world.co.jp%2Fs%2Fbrand%2Fhirokohayashi%2F%3Futm_term%3D2308%26gad_source%3D1%26gclid%3DEAIaIQobChMI0ujc-quwhwMVMVIPAh35qS_yEAAYASAAEgLpL_D_BwE%26utm_campaign%3DHIROKOHAYASHI%26utm_medium%3Dpaidsearch%26utm_source%3Dgoogle">ログアウト</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--  -->

              <div class="nav-menu__block">
                <p class="nav-menu__tag">お気に入り・閲覧履歴・お店で試着<span></span></p>
                <ul class="nav-menu__list">
                  <li class="nav-menu__item-favorite">
                    <div class="nav-menu__history-item" style="" data-wr-component="history__show_history_item">
                      <span class="nav-menu__history-item-label">
                        <span>閲覧履歴</span><a href="https://store.world.co.jp/browse.html?link_id=wos_UH_MENU_checkitem_more">もっと見る</a>
                      </span>
                      <div id="recommend_check" class="recommend_ft_01">
                        <ul class="nav-menu__history-item-list">
                          <li><a href="https://store.world.co.jp/brand/pink-latte/item/BR31924F0027?via=itemshis"><img data-original="/img/item/BR319/BR31924F0027/BR31924F0027_s1_c102.jpg" src="https://store.world.co.jp/img/item/BR319/BR31924F0027/BR31924F0027_s1_c102.jpg" alt="商品画像" style="visibility: visible;" class="lazy" /></a></li>
                          <li><a href="https://store.world.co.jp/brand/pink-latte/item/BR31924F0035?via=itemshis"><img data-original="/img/item/BR319/BR31924F0035/BR31924F0035_s1_c104.jpg" src="https://store.world.co.jp/img/item/BR319/BR31924F0035/BR31924F0035_s1_c104.jpg" alt="商品画像" style="visibility: visible;" class="lazy" /></a></li>
                          <li><a href="https://store.world.co.jp/brand/cocoshnik/item/BR76799A1819?via=itemshis"><img data-original="/img/item/BR767/BR76799A1819/BR76799A1819_m2_c101.jpg" src="https://store.world.co.jp/img/item/BR767/BR76799A1819/BR76799A1819_m2_c101.jpg" alt="商品画像" style="visibility: visible;" class="lazy" /></a></li>
                          <li><a href="https://store.world.co.jp/brand/hiroko-hayashi/item/BR70999A0936?via=itemshis"><img data-original="/img/item/BR709/BR70999A0936/BR70999A0936_s1_c101.jpg" src="https://store.world.co.jp/img/item/BR709/BR70999A0936/BR70999A0936_s1_c101.jpg" alt="商品画像" style="visibility: visible;" class="lazy" /></a></li>
                        </ul>
                      </div>
                      <script type="text/javascript">
                        $(function () {
                          if (historyModule.showItem('.nav-menu__history-item-list', 4) > 0) {
                            $('.nav-menu__history-item').show();
                          }
                        });
                      </script>
                    </div>
                  </li>

                  <li>
                    <ul class="nav-menu__list">
                      <li class="nav-menu__item">
                        <span class="nav-menu__user-name"> お気に入り </span>
                        <ul class="nav-menu__list">
                          <li class="nav-menu__item">
                            <a href="https://store.world.co.jp/member/favorite-item?link_id=wos_UH_MENU_favoriteitem">お気に入りアイテム</a>
                          </li>
                          <li class="nav-menu__item">
                            <a href="https://store.world.co.jp/member/favorite-brand/?link_id=wos_UH_MENU_favoritebrand">お気に入りブランド</a>
                          </li>
                          <li class="nav-menu__item">
                            <a href="https://store.world.co.jp/member/favorite-real-store/?link_id=wos_UH_MENU_favoriteshop">お気に入りショップ</a>
                          </li>
                          <li class="nav-menu__item">
                            <a href="https://store.world.co.jp/member/favorite-ext-snap/?link_id=wos_UH_MENU_favoritecoord">お気に入りコーディネート</a>
                          </li>
                          <li class="nav-menu__item">
                            <a href="https://store.world.co.jp/member/favorite-ext-staff/?link_id=wos_UH_MENU_favoritestaff">お気に入りスタッフ</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <!-- 店舗試着取り寄せ対応 START -->
                  <li class="nav-menu__item" style="border-top: solid 1px #eee;">
                    <span class="nav-menu__user-name"> お店で試着 </span>

                    <ul class="nav-menu__list" style="border-top: solid 1px #ddd;">
                      <li class="nav-menu__item" id="nav-menu_store-cart_try-on"><a href="https://store.world.co.jp/order/store-try-on-cart">お店で試着カート</a></li>

                      <li class="nav-menu__item try-the-fit">
                        <a href="https://store.world.co.jp/member/store-try-on-rcpt?link_id=wos_UH_MENU_try-the-fit">店舗試着履歴</a>
                      </li>

                      <li class="nav-menu__item"><a href="https://store.world.co.jp/search?sst1=2&rd=01&ta=XX01">試着可能商品</a></li>
                    </ul>
                  </li>
                </ul>

                <!-- 店舗試着取り寄せ対応 END -->
              </div>

              <div class="nav-menu__block">
                <p class="nav-menu__tag">ブランド<span></span></p>
                <ul class="nav-menu__list">
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/brand/?link_id==wos_UH_MENU_l-brandlist">ブランドリスト</a>
                  </li>
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/real-store/?link_id=wos_UH_MENU_shop">店舗検索</a>
                  </li>
                </ul>
              </div>

              <div class="nav-menu__block">
                <p class="nav-menu__tag">キャンペーン・特集情報<span></span></p>
                <ul class="nav-menu__list">
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/campaign/?link_id=wos_UH_MENU_campaign">キャンペーン</a>
                  </li>
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/s/journal/?link_id=wos_UH_MENU_journal">JOURNAL</a>
                  </li>
                  <!-- <li class="nav-menu__item">
  <a href="https://store.world.co.jp/select/?link_id=wos_UH_MENU_select">その他特集</a>
  </li> -->
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/s/brand/news/?link_id=wos_UH_MENU_news">ニュース</a>
                  </li>
                </ul>
              </div>

              <div class="nav-menu__block">
                <p class="nav-menu__tag">読み物<span></span></p>
                <ul class="nav-menu__list">
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/s/world-magazine/?link_id==wos_UH_MENU_l-journal">WORLD MAGAZINE</a>
                  </li>
                </ul>
              </div>

              <div class="nav-menu__block">
                <p class="nav-menu__tag">ガイド<span></span></p>
                <ul class="nav-menu__list">
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/welcome/?link_id=wos_UH_MENU_first">初めての方へ</a>
                  </li>
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/?link_id=wos_UH_MENU_wos">ワールド オンラインストア</a>
                  </li>
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/floor/outlet/?link_id=wos_UH_MENU_woo">ワールド オンラインアウトレット</a>
                  </li>
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/wpc/?link_id=wos_UH_MENU_wpc">ワールド プレミアムクラブ</a>
                  </li>
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/stage/?link_id=wos_UH_MENU_stage">ステージ別サービスについて</a>
                  </li>
                </ul>
              </div>
              <!--  -->

              <div class="nav-menu__block">
                <p class="nav-menu__tag">お客様窓口<span></span></p>
                <ul class="nav-menu__list">
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/help/?link_id=wos_UH_MENU_help">ご利用案内・お問い合わせ</a>
                  </li>
                  <li class="nav-menu__item">
                    <a href="https://store.world.co.jp/help/?link_id=wos_UH_MENU_info#info">お知らせ</a>
                  </li>

                  <li class="nav-menu__item">
                    <script>
                      $(function () {
                        $(document).on('click', '.bt_chat_plus2', function () {
                          $('#eye_catcher').click();
                        });
                      });
                    </script>

                    <a href="javascript:void(0);" class="bt_chat_plus2">チャット相談をする<br /><span>自動応答 24時間／オペレーター受付 11時～20時</span></a>
                  </li>
                </ul>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hdr_load_wrap hdr_load_search_wrap">
    <p class="hdr_load_label">探す</p>
    <div class="hdr_close_btn_wrap">
      <p class="hdr_close_btn is-active">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </div>
    <div id="hdr_load_search" class="hdr_load_search">
      <div id="load"></div>
    </div>
  </div>
  <div class="hdr_load_wrap hdr_load_category_wrap">
    <div class="hdr_return_btn_wrap">
      <p class="hdr_return_btn">
        <span></span>
        <span></span>
      </p>
    </div>
    <div class="hdr_close_btn_wrap">
      <p class="hdr_close_btn is-active">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </div>
    <div id="hdr_load_category" class="hdr_load_category">
      <div id="load">
        <div id="category">
          <h2 class="ttl_main">アイテムカテゴリーから探す</h2>
          <ul class="search-page-lmk-list">
            <li><a class="category_tab bt_l on" href="#" data-category="ladies">LADIES</a></li>
            <li><a class="category_tab bt_m" href="#" data-category="mens">MENS</a></li>
            <li><a class="category_tab bt_k" href="#" data-category="kids">KIDS</a></li>
            <li><a class="category_tab bt_lg" href="#" data-category="goods">LIFE GOODS</a></li>
          </ul>

          <div id="category_ladies"></div>
          <div id="category_mens"></div>
          <div id="category_kids"></div>
          <div id="category_goods"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hdr_load_wrap hdr_load_brand_wrap">
    <div class="hdr_return_btn_wrap">
      <p class="hdr_return_btn">
        <span></span>
        <span></span>
      </p>
    </div>
    <div class="hdr_close_btn_wrap">
      <p class="hdr_close_btn is-active">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </div>
    <div id="hdr_load_brand" class="hdr_load_brand">
      <div id="load"></div>
    </div>
  </div>
  <div class="hdr_overlay"></div>
  <!-- グローバルヘッダここまで -->

  <slot />
</div>
