---

---

<div class="wrap_footer">
  <footer class="hrk-footer">
    <div class="pagetop"></div>
    <div class="hrk-footer__logo">
      <a href="https://store.world.co.jp/s/brand/hirokohayashi/?link_id=709_F_brlogo" title="HIROKO HAYASHI">
        <svg width="164" height="75.594" viewBox="0 0 164 75.594" role="img" aria-label="HIROKO HAYASHI">
          <path d="M178.015,297.855V285.7h-16.6v12.159h-1.93V271.91h1.93v12.008h16.6V271.91h1.93v25.945Z" transform="translate(-159.483 -271.464)" fill="#222"></path>
          <path d="M182.377,297.855V271.91H184.3v25.945Z" transform="translate(-149.259 -271.464)" fill="#222"></path>
          <path d="M210.444,297.855,202.18,287.1h-8.49v10.752h-1.928V271.91h10.9c5.6,0,9.267,3.037,9.267,7.373v.079c0,4.336-3.224,6.818-7.6,7.41l8.566,11.083ZM210,279.361c0-3.489-2.745-5.673-7.451-5.673H193.69v11.674h8.746c4.34,0,7.564-2.184,7.564-5.928Z" transform="translate(-144.997 -271.464)" fill="#222"></path>
          <path d="M224.634,298.431c-7.858,0-13.01-6.264-13.01-13.341v-.072c0-7.084,5.226-13.421,13.082-13.421s13.009,6.264,13.009,13.346c.037.037.037.037,0,.074C237.715,292.094,232.491,298.431,224.634,298.431Zm11.081-13.412c0-6.417-4.669-11.68-11.081-11.68s-11.008,5.19-11.008,11.606v.074c0,6.41,4.669,11.671,11.079,11.671s11.009-5.188,11.009-11.6Z" transform="translate(-136.049 -271.598)" fill="#222"></path>
          <path d="M255.612,297.855l-10.673-13.122-6.454,6.526v6.6h-1.924V271.91h1.924v17.05l16.535-17.05h2.632l-11.341,11.45,11.824,14.5Z" transform="translate(-124.888 -271.464)" fill="#222"></path>
          <path d="M267.621,298.431c-7.856,0-13.012-6.264-13.012-13.341v-.072c0-7.084,5.228-13.421,13.085-13.421s13.009,6.264,13.009,13.346c.036.037.036.037,0,.074C280.7,292.094,275.477,298.431,267.621,298.431ZM278.7,285.019c0-6.417-4.671-11.68-11.081-11.68s-11.008,5.19-11.008,11.606v.074c0,6.41,4.668,11.671,11.081,11.671S278.7,291.5,278.7,285.09Z" transform="translate(-116.729 -271.598)" fill="#222"></path>
          <path d="M178.015,331.413V319.25h-16.6v12.163h-1.93V305.467h1.93v12h16.6v-12h1.93v25.946Z" transform="translate(-159.483 -256.187)" fill="#222"></path>
          <path d="M201.787,331.47l-3.3-7.271H183.178l-3.3,7.271h-2l12.085-26.134h1.851L203.9,331.47Zm-10.935-24.022-6.858,15.01h13.68Z" transform="translate(-151.215 -256.243)" fill="#222"></path>
          <path d="M208.48,321.107v10.307h-1.928V321.144l-11.118-15.677h2.408l9.713,13.934,9.743-13.934h2.3Z" transform="translate(-143.335 -256.187)" fill="#222"></path>
          <path d="M235.593,331.47l-3.3-7.271H216.99l-3.3,7.271h-2l12.085-26.134h1.85l12.086,26.134Zm-10.935-24.022-6.853,15.01H231.48Z" transform="translate(-136.019 -256.243)" fill="#222"></path>
          <path d="M242.174,331.894a14.763,14.763,0,0,1-10.451-4.148l1.257-1.451a12.587,12.587,0,0,0,9.3,3.857c3.892,0,6.56-2.187,6.56-5.151v-.074c0-2.745-1.443-4.336-7.337-5.52-6.227-1.263-8.75-3.376-8.75-7.307v-.072c0-3.854,3.52-6.822,8.34-6.822a12.956,12.956,0,0,1,8.9,3.15l-1.223,1.519a11.175,11.175,0,0,0-7.748-2.927c-3.817,0-6.337,2.189-6.337,4.892v.077c0,2.741,1.408,4.41,7.56,5.668,6,1.227,8.527,3.376,8.527,7.155v.073C250.774,329,247.175,331.894,242.174,331.894Z" transform="translate(-127.083 -256.299)" fill="#222"></path>
          <path d="M268.188,331.413V319.25h-16.6v12.163h-1.928V305.467h1.928v12h16.6v-12h1.928v25.946Z" transform="translate(-118.862 -256.187)" fill="#222"></path>
          <path d="M270.6,331.413V305.467h1.924v25.946Z" transform="translate(-109.845 -256.187)" fill="#222"></path>
          <path d="M212.679,299.007a.966.966,0,0,1-.963-.961h0a.966.966,0,0,1,.963-.963H236.7a.967.967,0,0,1,.966.963h0a.967.967,0,0,1-.966.961Z" transform="translate(-136.008 -260.211)" fill="#222"></path>
        </svg>
      </a>
    </div>
    <div class="hrk-footer__inner">
      <div class="hrk-footer__items">
        <div class="footer-items">
          <p class="footer-items__ttl">ITEM</p>
          <div class="footer-items__list">
            <div class="fitem-it"><a href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&link_id=709_F_all" class="fitem-it__link">ALL</a></div>
            <div class="fitem-it"><a href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&it=WK01,WK02,WK03,WK04,WK05,WK06,WK07,WK08&link_id=709_F_bag" class="fitem-it__link">BAG</a></div>
            <div class="fitem-it"><a href="https://store.world.co.jp/s/brand/hirokohayashi/category/WK/WK13/?st=1&un=fku&link_id=709_F_wallet" class="fitem-it__link">WALLET</a></div>
            <div class="fitem-it"><a href="https://store.world.co.jp/s/brand/hirokohayashi/search?st=1&un=fku&ke=cardcase,passcase,keycase,mobilecase,pouch,scarf,gloves,Accessories,coat,other&link_id=709_F_other" class="fitem-it__link">OTHER</a></div>
            <div class="fitem-it"><a href="https://store.world.co.jp/s/brand/hirokohayashi/sale/?link_id=709_F_sale" class="fitem-it__link" style="color:#CC0000 !important;">SALE</a></div>
          </div>
        </div>
      </div>
      <div class="hrk-footer__letter">
        <div class="footer-letter">
          <p class="footer-letter__ttl">NEWS LETTER</p>
          <p class="footer-letter__txt">新商品やイベント、キャンペーンなどの<br class="is-pc" />最新情報をメールでお届けします。</p>
          <div class="footer-letter__btn"><a href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR709&link_id=709_F_newsletter" target="_blank">登録</a></div>
        </div>
      </div>
      <div class="hrk-footer__sns">
        <div class="footer-sns">
          <div class="footer-sns__it">
            <a href="https://www.instagram.com/hiroko_hayashi_official/?link_id=709_F_instagram" target="_blank">
              <svg width="17.238" height="17.234" viewBox="0 0 17.238 17.234">
                <path d="M8.616,6.436a4.419,4.419,0,1,0,4.419,4.419A4.412,4.412,0,0,0,8.616,6.436Zm0,7.291a2.873,2.873,0,1,1,2.873-2.873,2.878,2.878,0,0,1-2.873,2.873Zm5.63-7.472a1.031,1.031,0,1,1-1.031-1.031A1.028,1.028,0,0,1,14.246,6.255ZM17.172,7.3A5.1,5.1,0,0,0,15.78,3.69,5.134,5.134,0,0,0,12.169,2.3c-1.423-.081-5.688-.081-7.111,0A5.126,5.126,0,0,0,1.447,3.687,5.117,5.117,0,0,0,.055,7.3c-.081,1.423-.081,5.688,0,7.111a5.1,5.1,0,0,0,1.392,3.611,5.14,5.14,0,0,0,3.611,1.392c1.423.081,5.688.081,7.111,0a5.1,5.1,0,0,0,3.611-1.392,5.134,5.134,0,0,0,1.392-3.611c.081-1.423.081-5.684,0-7.107Zm-1.838,8.633A2.908,2.908,0,0,1,13.7,17.573c-1.134.45-3.826.346-5.08.346s-3.949.1-5.08-.346A2.908,2.908,0,0,1,1.9,15.935c-.45-1.134-.346-3.826-.346-5.08s-.1-3.949.346-5.08A2.908,2.908,0,0,1,3.536,4.136c1.134-.45,3.826-.346,5.08-.346s3.949-.1,5.08.346a2.908,2.908,0,0,1,1.638,1.638c.45,1.134.346,3.826.346,5.08S15.784,14.8,15.334,15.935Z" transform="translate(0.005 -2.238)" fill="#222"></path>
              </svg>
            </a>
          </div>
          <div class="footer-sns__it">
            <a href="https://page.line.me/628uibkl?link_id=709_F_line" target="_blank">
              <svg width="19.753" height="18.812" viewBox="0 0 19.753 18.812">
                <path d="M15.938,8.5a.519.519,0,0,1,0,1.038H14.494v.926h1.444a.518.518,0,1,1,0,1.036H13.974a.519.519,0,0,1-.516-.518V7.06a.52.52,0,0,1,.519-.519h1.964a.519.519,0,0,1,0,1.037H14.494V8.5Zm-3.173,2.482a.518.518,0,0,1-.356.491.532.532,0,0,1-.164.026.509.509,0,0,1-.42-.206L9.816,8.567v2.42a.517.517,0,1,1-1.035,0V7.06a.516.516,0,0,1,.354-.49.479.479,0,0,1,.16-.027.532.532,0,0,1,.407.209l2.026,2.741V7.06a.519.519,0,1,1,1.037,0v3.927Zm-4.725,0a.518.518,0,1,1-1.035,0V7.06a.518.518,0,1,1,1.035,0Zm-2.03.518H4.047a.521.521,0,0,1-.519-.518V7.06a.519.519,0,0,1,1.037,0v3.408H6.011a.518.518,0,0,1,0,1.036M19.753,8.876c0-4.421-4.432-8.018-9.876-8.018S0,4.456,0,8.876c0,3.96,3.514,7.277,8.259,7.908.322.067.76.212.871.486a2.01,2.01,0,0,1,.031.889L9.026,19c-.037.248-.2.976.863.531a31.839,31.839,0,0,0,7.766-5.741,7.1,7.1,0,0,0,2.1-4.912" transform="translate(0 -0.858)" fill="#222"></path>
              </svg>
            </a>
          </div>
          <div class="footer-sns__it">
            <a href="https://www.facebook.com/hirokohayashi.jp/?link_id=709_F_facebook" target="_blank">
              <svg width="9.23" height="17.234" viewBox="0 0 9.23 17.234">
                <path d="M10.235,9.694l.479-3.119H7.721V4.551A1.56,1.56,0,0,1,9.479,2.866H10.84V.211A16.592,16.592,0,0,0,8.425,0C5.96,0,4.349,1.494,4.349,4.2V6.575H1.609V9.694h2.74v7.54H7.721V9.694Z" transform="translate(-1.609)" fill="#222"></path>
              </svg>
            </a>
          </div>
          <div class="footer-sns__it">
            <a href="https://twitter.com/OfficialHiroko?link_id=709_F_x" target="_blank">
              <svg width="16.862" height="17.233" viewBox="0 0 16.862 17.233">
                <path d="M10.035,7.3,16.312,0H14.824L9.374,6.336,5.021,0H0L6.583,9.58,0,17.233H1.488l5.755-6.691,4.6,6.691h5.021L10.035,7.3ZM8,9.665,7.331,8.71,2.023,1.12H4.308L8.591,7.246l.667.954,5.567,7.963H12.541L8,9.665Z" fill="#222"></path>
              </svg>
            </a>
          </div>
          <div class="footer-sns__it">
            <a href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR709&link_id=709_F_mail target=" class="is-nofill" _blank="">
              <svg width="20.143" height="16" viewBox="0 0 20.143 16">
                <g transform="translate(-2.303 -5.5)">
                  <path d="M4.875,6h15A1.881,1.881,0,0,1,21.75,7.875v11.25A1.881,1.881,0,0,1,19.875,21h-15A1.881,1.881,0,0,1,3,19.125V7.875A1.881,1.881,0,0,1,4.875,6Z" fill="none" stroke="#909090" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
                  <path d="M21.75,9l-9.375,6.583L3,9" transform="translate(0 -1.119)" fill="none" stroke="#909090" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="hrk-footer__wos">
        <div class="footer-wos">
          <p class="footer-wos__ttl">WORLD ONLINE STORE</p>
          <div class="footer-wos__wos"><a href="https://store.world.co.jp/app/?link_id=709_F_WOSAPP" target="_blank"> <img src="https://store.world.co.jp/s/brand/hirokohayashi/common/img/wos_app_ico.svg" alt="WORLD ONLINE STORE" /></a></div>
          <div class="footer-wos__apl"><a href="https://apps.apple.com/jp/app/world-%E3%83%AF%E3%83%BC%E3%83%AB%E3%83%89/id934388166?link_id=709_F_WOSAPP_APPLE" target="_blank"><img src="https://store.world.co.jp/s/brand/hirokohayashi/common/img/fbnr_apple.svg?240401" alt="" /></a></div>
          <div class="footer-wos__gpl"><a href="https://play.google.com/store/apps/details?id=jp.co.world.memberscardapp&pli=1&link_id=709_F_WOSAPP_GSTORE" target="_blank"><img src="https://store.world.co.jp/s/brand/hirokohayashi/common/img/fbnr_gplay.png?240401" alt="" /></a></div>
          <div class="footer-wos__stage">
            <div class="mystageRank">
              <div class="wrap_stage">
                <!--非ログイン時-->

                <!--/非ログイン時-->

                <!--ログイン時-->

                <a href="https://store.world.co.jp/stage/?link_id=709_L_stage_brand" class="wrap_stage_inner">
                  <img src="https://store.world.co.jp/s/brand/hirokohayashi/common/img/footer/ico_stagerank.png" />
                  <div class="wrap_stage_detail">
                    <em>ステージ別サービス<br />あなたはステージ別サービス未登録です</em>
                    <p>登録により各種特典をお楽しみください。詳しくはこちら</p>
                  </div>
                </a>

                <!--/ログイン時-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hrk-footer__menus">
        <div class="footer-menus">
          <div class="footer-menus__it"><a href="https://store.world.co.jp/real-store-search?pcf=1&br=BR709&link_id=709_F_shoplist" class="footer-menus__link" target="_blank">SHOP LIST</a></div>
          <div class="footer-menus__it"><a href="https://world-sp-recruit.net/jobfind-pc/area/All?brand=28&link_id=709_F_recruit" class="footer-menus__link" target="_blank">RECRUIT</a></div>
          <div class="footer-menus__it">
            <a class="footer-menus__link is-hasChild" tabindex="-1">CUSTOMER</a>
            <div class="footer-menus__childs js-subnav">
              <div class="f-submenus">
                <div class="f-submenus__it"><a class="f-submenus__link" href="https://store.world.co.jp/member/?link_id=523_F_wpc" target="_blank">ワールドプレミアムクラブ</a></div>
                <div class="f-submenus__it"><a class="f-submenus__link" href="https://store.world.co.jp/help/?link_id=523_F_wfaq" target="_blank">お客様窓口</a></div>
                <div class="f-submenus__it"><a class="f-submenus__link" href="https://corp.world.co.jp/" target="_blank">企業情報</a></div>
                <div class="f-submenus__it"><a class="f-submenus__link" href="https://store.world.co.jp/terms/?link_id=523_F_wpolicy" target="_blank">利用規約</a></div>
                <div class="f-submenus__it"><a class="f-submenus__link" href="https://store.world.co.jp/sitepolicy/?link_id=523_F_wpolicy" target="_blank">サイトポリシー</a></div>
                <div class="f-submenus__it"><a class="f-submenus__link" href="https://store.world.co.jp/privacypolicy/?link_id=523_F_wprivacy" target="_blank">プライバシーポリシー</a></div>
                <div class="f-submenus__it"><a class="f-submenus__link" href="https://corp.world.co.jp/recruit/" target="_blank">採用情報</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hrk-footer__lag">
        <div class="footer-lag">
          <div class="footer-lag__it"><a class="footer-lag__link" href="https://store.world.co.jp/s/brand/hirokohayashi/?link_id=709_F_jp">JP</a></div>
          <div class="footer-lag__it"><a class="footer-lag__link" href="https://store.world.co.jp/s/brand/hirokohayashi/en/?link_id=709_F_en">EN</a></div>
        </div>
      </div>
      <div class="hrk-footer__copy">
        <p>Copyrights <span>©</span> WORLD CO.,LTD. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
